#pagination{
    text-align: center;
    padding: 10px;
  }
  #pagination a{
    background: #2980b9;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding:5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  #pagination a.active{
    background: #27ae60;
  }
  #ajaxbtn{
    background: #6c5ce7;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px 100px;
    border-radius: 4px;
    cursor: pointer;
  }
  #ajaxbtn:disabled {
    background: #7f8c8d;
    color: #2c3e50;
    cursor: default;
  }
  